parameters:
    lightsaml.own.entity_id: ~
    lightsaml.route.login_check: lightsaml.login_check

services:
    lightsaml.own.credential_store:
        class: LightSaml\Store\Credential\CompositeCredentialStore

    lightsaml.own.entity_descriptor_provider:
        class: LightSaml\Builder\EntityDescriptor\SimpleEntityDescriptorBuilder
        # factory set in extension, all with arguments, differently based on symfony version
        # factory: ["@LightSaml\Provider\EntityDescriptor\FileEntityDescriptorProviderFactory", "fromEntitiesDescriptorFile"]
        # factory: ["@LightSaml\Provider\EntityDescriptor\FileEntityDescriptorProviderFactory", "fromEntityDescriptorFile"]
